<div class="weather panel panel-primary">
    <div class="panel-heading">{{parseDate(useDayForecast.dt) | date:'fullDate'}}</div>
    <div class="panel-body">
        <div>
            <p class="lead">
                <img ng-src="{{getIconImageUrl(useDayForecast.weather[0].icon)}}" />
                {{useDayForecast.temp.day}}&#176;C {{useDayForecast.weather[0].main}}
            </p>
            <p>
                {{useDayForecast.weather[0].description}}&nbsp;|&nbsp;
                Maximum: {{useDayForecast.temp.max}}&#176;C&nbsp;|&nbsp;
                Minimum: {{useDayForecast.temp.min}}&#176;C
            </p>
        </div>
    </div>
</div>